# Настройки для обеспечения кросс-платформенной совместимости в Unity
# Принудительно использовать LF для всех файлов Unity, которые должны быть одинаковыми
*.cs     text eol=lf
*.meta   text eol=lf
*.unity  text eol=lf
*.prefab text eol=lf
*.mat    text eol=lf
*.asset  text eol=lf
*.shader text eol=lf
*.inputactions text eol=lf

# Для всех остальных файлов, Git должен автоматически определить
# является ли файл текстовым или бинарным, и обработать его соответственно.
* text=auto